<%- include('./partials/head') %>



<div class="filter">
  <p>Filter op:</p>
  <ul>
    <button>Kapsels</button>
    <button class="avatar-btn">Avatars</li>
    <button>Woonplaats</button>
    <button>...</button>
  </ul>
</div>

<section class="cards">
  <h2>Avatars</h2>
    <ul>
      <% persons.forEach(person => { %>
        <a href="./person/<%= person.id %>">
        <li>
          <!-- <p><%= person.name %></p> -->
          <img src="<% if (person.avatar) { %>
            <%= person.avatar %>
          <% } else { %>
            /images/transparent person black.png
          <% } %>">
          <p><%= person.name %></p>
        </li>


        <!-- <%= person.name %> -->
        </a>
      <% }) %>
    </ul>
</section>

<!-- <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">

      
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:300px;height:300px;">

    </div>
    <div class="flip-card-back">
      <h2>Berichten van studenten</h2>
      <ul>
        <% messages.forEach(message => { %>
          <li><%= message %></li>
          <% }) %>
      </ul>
      <form method="post" action="/">
        <label>Bericht:
          <textarea required name="bericht"></textarea>
        </label>  
        <button type="submit">Verzenden</button>
        </form>
    </div>
  </div>
</div> -->


   


















<%- include('./partials/foot') %>