<%- include('./partials/head') %>

<!-- <h2>Students</h2>
<ul>
  <% persons.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %>
</ul> -->

<div class="filter">
  <p>Filter op:</p>
  <ul>
    <button>Kapsels</button>
    <button>Avatars</li>
    <button>Woonplaats</button>
    <button>...</button>
  </ul>
</div>

<article class="bericht-article">
  <h2>Berichten van studenten</h2>
<ul>
  <% messages.forEach(message => { %>
    <li><%= message %></li>
    <% }) %>
</ul>
</article>

<form method="post" action="/">
<label>Berichtje: 
  <textarea required name="bericht"></textarea>
</label>  
<button type="submit">Verzend</button>
</form>

<section class="cards">
  <h2>Avatars</h2>
    <ul>
      <% persons.forEach(person => { %>
        <li>
          <!-- <img src="/images/transparent person black.png"> -->
          <img src="<% if (person.avatar) { %>
            <%= person.avatar %>
          <% } else { %>
            /images/transparent person black.png
          <% } %>">
        </li>
        <a href="./person/<%= person.id %>"><%= person.name %></a>
      <% }) %>
    </ul>

  <!-- <ul>
    <li>Lem</li>
    <li>Lem></li>
    <li>lem</li>
    <li>lem</li>
  </ul> -->
</section>
















<%- include('./partials/foot') %>