<%- include('./partials/head') %>

<a href="/" class="back-btn">Back</a>

<section class="person-ejs">

  <h2><%= person.name %></h2>

  <img src="<% if (person.avatar) { %>
      <%= person.avatar %>
    <% } else { %>
      /images/transparent person black.png
    <% } %>" class="image-test">

</section>

<form method="post" action="/">
  <label>Berichtje: 
    <textarea required name="bericht"></textarea>
  </label>  
  <button type="submit">Verzenden</button>
  </form>

  <!-- <article class="bericht-article">
    <h2>Berichten van studenten</h2>
  <ul>
    <% messages.forEach(message => { %>
      <li><%= message %></li>
      <% }) %>
  </ul>
  </article> -->

<%- include('./partials/foot') %>